#content {
    padding: 0;
    overflow:scroll;
}

#projectBrowser {
    padding: 0;
    border:1px solid silver;
    width: 29%;
    height: 99%;
    float:left;
}

#jsTree {
    border:1px solid silver;
    min-height:200px;
}

#submenu {
    border:1px solid silver;
    min-height:200px;
}

#correspondenceMenu {
    border:1px solid silver;
    min-height:200px;
}

#views {
    width: 69%;
    height : 99%;
    padding: 0;
    float: right;
}

#sourceView {
    height: 400px;
    padding: 0;
    border:1px solid silver;
}

#targetView {
    height: 400px;
    padding: 0;
    border:1px solid silver;
}

.highlight-overlay {
    background-color: #80ffbf; /* color elements as green */
    opacity: 0.3;
    pointer-events: none; /* no pointer events, allows clicking through onto the element */
    border-radius: 10px;
}

.highlight-green:not(.djs-connection) .djs-visual > :nth-child(1) {
    fill: green !important; /* color elements as green */
    opacity: 0.3;
}

.highlight-red:not(.djs-connection) .djs-visual > :nth-child(1) {
    fill: red !important; /* color elements as red */
    opacity: 0.3;
}

.highlight-blue:not(.djs-connection) .djs-visual > :nth-child(1) {
    fill: blue !important; /* color elements as blue */
    opacity: 0.3;
}

.highlight-yellow:not(.djs-connection) .djs-visual > :nth-child(1) {
    fill: yellow !important; /* color elements as yellow */
    opacity: 0.3;
}